@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[var(--color-background)] text-[var(--color-text)] font-lekton;
  }
}

:root {
  /* Dark Theme Colors */
  --color-background: #1a1a1a;
  --color-sidebar: #222222;
  --color-border: #3d3d3d;
  --color-yellow: #f6b846;
  --color-text: #ffffff;
  --color-heading: #ffffff;
  /* For lights and lines */
  --color-light-fill: #f6b846;
  --color-light-opacity: 0.7;
  --color-line-fill: #211d17;
  --color-line-opacity: 0.3;
}

[data-theme="light"] {
  /* Light Theme Colors (swapped) */
  --color-background: #f6f6f6;
  --color-sidebar: #ffffff;
  --color-border: #e0e0e0;
  --color-heading: #1a1a1a;
  --color-text: #222222;
  --color-light-fill: #0e0c01;
  --color-light-opacity: 0.9;
  --color-line-fill: #f8f8f8;
  --color-line-opacity: 0.5;
}